cadquery
casadi
contourpy
cycler
et_xmlfile
ezdxf
fonttools
kiwisolver
matplotlib
multimethod
nlopt
numpy
numpy-stl
openpyxl
packaging
pandas
pillow
pyparsing
PyQt6
pyqtgraph
python-dateutil
python-utils
pytz
typing_extensions
typish
tzdata
